body{
    background: #bcd6f2;
    text-align: center;

}

.but
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#count
{
	/*text-align: left;*/
}

p
{
	color: maroon;
}

h1
{
	font-weight:bold;	
	text-align: center;
	text-decoration: underline;
}

#game{
    display: inline-block;
    text-align: center;
    background: #007bff;
}
.col{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #bcd6f2;
    margin:5px;
    display: inline-block;
}

.col.empty {
    /* indique qu'il peut cliquer */
    cursor: pointer;
}

.col.red{
    background: #268fff;
}

.col.yellow{
    background:yellow;
}

.col.pred{
    background: #8e0f0f;
}

.col.pyellow{
    background:#a09b04;
}
